<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} - Admin Portal</title>
    <!-- <link rel="stylesheet" href="/public/css/auth.css" /> -->
    <link rel="stylesheet" href="/public/layout/auth/style.css" />
    <!-- You might want to add a link to a common/reset stylesheet if you have one -->
    <!-- <link rel="stylesheet" href="/public/css/style.css"> -->
  </head>
  <body>
    <main>
      {{{body}}}
    </main>
    <!-- Link to specific JS for auth pages if needed -->
    <script src="/public/layout/auth/main.js"></script>
    <!-- <script src="/public/js/auth.js"></script> -->
  </body>
</html>